<%- include ('../partials/header') %>

<div class="jumbotron">
    <h1>AAMS</h1>
    <h2>My SQL</h2>
</div>

<div class="jumbotron">
    <div class="jumbotron">
        <h1>Mongo Availabe DBs</h1>
        <div id="mysql">
          Loading...
        </div>
    </div>
</div>



<script src="/scripts/script_mysql.js"></script>

<%- include ('../partials/footer') %>
