<script src="/main.js"></script>

<footer class="footer fixed-bottom py-3 bg-dark text-white">
    <div class="text-center">
        <span>&copy; <%= new Date().getFullYear() %> AAMS Technologies <img src="/img/avr_log.png" width="20" height="20">- AAMS Cloud</span>
    </div>
</footer>

</body>
</html>
