<%- include ('../partials/header') %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Weclome To My gallary!</h1>
      <a>View my ALL pics throuh time</a>
    </div>
  </header>
</div>

<br />
<br />

<div class="container">
  <a href="/gallary/all/0ndated" class="btn btn-lg btn-danger">0ndated</a>
  <br />
  <br />
  <a href="/gallary/all/2005" class="btn btn-lg btn-warning">2005</a>
  <a href="/gallary/all/2008" class="btn btn-lg btn-warning">2008</a>
  <a href="/gallary/all/2010" class="btn btn-lg btn-warning">2010</a>
  <a href="/gallary/all/2012" class="btn btn-lg btn-warning">2012</a>
  <br />
  <br />
  <a href="/gallary/all/2013" class="btn btn-lg btn-warning">2013</a>
  <br />
  <br />
  <a href="/gallary/all/2014" class="btn btn-lg btn-success">2014</a>
  <a href="/gallary/all/2015" class="btn btn-lg btn-success">2015</a>
  <a href="/gallary/all/2016" class="btn btn-lg btn-success">2016</a>
  <br />
  <br />
  <a href="/gallary/all/2017" class="btn btn-lg btn-success">2017</a>
  <a href="/gallary/all/2018" class="btn btn-lg btn-success">2018</a>
  <br />
  <br />
  <a href="/gallary/all/2019" class="btn btn-lg btn-info">2019</a>
  <a href="/gallary/all/2020" class="btn btn-lg btn-info">2020</a>
  <br />
  <br />
  <a href="/gallary/all/2021" class="btn btn-lg btn-danger">2021</a>
  <a href="/gallary/all/2022" class="btn btn-lg btn-danger">2022</a>
  <br />
  <br />
  <a href="/gallary/all/2023" class="btn btn-lg btn-danger">2023</a>
  <br />
  <br />
  <a href="/gallary/instagram" class="btn btn-lg btn-info">Instagram</a>
  <br />
  <br />
  <a href="/gallary/fellas" class="btn btn-lg btn-danger">Fellas</a>
  <a href="/gallary/oau" class="btn btn-lg btn-success">OAU</a>
  <a href="/gallary/screenshots" class="btn btn-lg btn-info">Screenshots</a>
</div>
