<%- include ('../partials/header') %>

<div class="container">
  <h1>MY gallary</h1>
  <a href="/gallary/local" class="btn btn-lg btn-info">Website gallary</a>
  <a
    href="https://fluid.ahmedalimsoliman.click/"
    class="btn btn-lg btn-success"
    target="_blank"
    >Fluid</a
  >
  <a href="/gallary/all" class="btn btn-lg btn-warning">All</a>
  <a
    href="https://onedrive.live.com/embed?cid=77B340DCC37AB033&resid=77B340DCC37AB033%2146111&authkey=AKkdeATZNsi17uc"
    class="btn btn-lg btn-danger"
    target="_blank"
    >OneDrive Images</a
  >
  <a
    href="https://www.instagram.com/ahmed_ali_m_soliman/?hl=en"
    class="btn btn-lg btn-success"
    >Instagram Profile</a
  >

  <a href="/gallary/videos" class="btn btn-lg btn-warning">My Videos</a>
</div>

<%- include ('../partials/footer') %>
