<%- include ('../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>Queues </h2>
    </div>





    <div class="jumbotron">
        <div class="card-deck">

           <div class="card">
             <a href="/rabbit" class="btn btn-light">    
              <%- svgs.rabbitmq %>       
                RabbitMQ
             </a>
           </div>

           <div class="card">
            <a href="/kafka" class="btn btn-light">    
              <%- svgs.kafka %>     
                Kafka
            </a>
          </div>

          <div class="card">
            <a href="#" class="btn btn-light">    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      

            </a>
          </div>

          <div class="card">
             <a href="#" class="btn btn-light">    
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
                
             </a>
           </div>

           <div class="card">
            <a href="#" class="btn btn-light">    
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
            </a>
          </div>
           
         </div>
     </div>   


    


<%- include ('../partials/footer') %>

