

<footer id="footer" class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
      <div class="my-3">
        <div class="h4">Ahmed Ali M. Soliman</div>
        <div class="footer-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <a class="nav-link" href="https://twitter.com/ahmedamsoliman" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
              <a class="nav-link" href="https://ae.linkedin.com/in/ahmed-ali-m-soliman-01aa54120" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a> 
              <a class="nav-link" href="https://www.facebook.com/ahmedalimsoliman" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
              <a class="nav-link" href="https://www.instagram.com/ahmed_ali_m_soliman" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
              <a class="nav-link" href="https://github.com/ahmedamsoliman-1" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
              <a class="nav-link" href="https://gitlab.com/ahmedamsoliman-1" title="Github"><i class="fab fa-gitlab"></i><span class="menu-title sr-only">Gitlap</span></a>
              <a class="nav-link" href="/" title="Github"><i class="fas fa-home"></i><span class="menu-title sr-only">Home</span></a>
            </ul>
          </nav>
        </div>
      </div>
      <div class="text-small">
        <div class="mb-1">&copy; Ahmed Resume. All rights reserved.</div>
      </div>
    </div>
  </footer>

</body>

</html>