body.dark-mode {
    background-color: #333;  
    color: #fff;  
  }
  
  .navbar-dark.dark-mode {
    background-color: #222;
  }
  
  .jumbotron.dark-mode {
    background-color: #444;
    color: #fff;
  }
  
  body.dark-mode table {
    background-color: #444;
    color: #fff; /* Set the text color to white for better readability */
  }
  
  body.dark-mode th {
    background-color: #444;
    color: #fff; /* Set the header text color to white for better readability */
  }
  