<%- include ('../partials/header') %>

<div class="jumbotron">
    <h1>AAMS</h1>
    <h2>Memcached</h2>
</div>


<div class="jumbotron">
    <div class="card-deck">

       <div class="card">
         <a href="/memcached/memcached_localhost" class="btn btn-light">    
           <%- svgs.memcached %>    
           Localhost
         </a>
       </div>

      <div class="card">
        <a href="#" class="btn btn-light">    
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
        </a>
      </div>

      <div class="card">
         <a href="#" class="btn btn-light">    
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d=""/></svg>      
         </a>
       </div>
       
     </div>
 </div> 

<%- include ('../partials/footer') %>
