<%- include ('../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>GitLab Info</h2>
    </div>

    <div class="jumbotron">

    </div>


    



<%- include ('../partials/footer') %>

