

<%- include('partials/header') %>

<div class="jumbotron">
    <h1>Not Found !</h1>
</div>

<div class="container text-center">
    <img src="/img/404-sorray.png" alt="Centered Image" width="900" height="500">
</div>

<div class="container text-center">
    <img src="/img/avr.png" alt="Centered Image" width="500" height="500">
</div>

<div class="jumbotron">
    <a href="#" class="btn btn-danger"><%= node %></a>
</div>

<%- include('partials/footer') %>
