    </body>
    <script>
      function copyText() {
          /* Select text area by id*/
          var Text = document.getElementById("textbox");
        //   alert(Text)

        /* Select the text inside text area. */
        Text.select();

        /* Copy selected text into clipboard */
        navigator.clipboard.writeText(Text.value);

        /* Set the copied text as text for
			div with id clipboard */
        document.getElementById("clipboard").innerHTML = "COPIED!";
      }
    </script>
</html>

