body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/static/images/sqaure.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    color: #333;
}

.lead {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 30px;
}

.links .btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.links .btn:hover {
    background-color: #0056b3;
}
