<%- include ('../../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>Elasticsearch Info</h2>
    </div>

    <div class="jumbotron">
        <h3>Elasticsearch Information</h3>
        <p>Cluster Name: <%= cluster %></p>
        <p>Version: <%= version %></p>

    </div>


    



<%- include ('../../partials/footer') %>

