<!DOCTYPE html>
<html>
<head>
  <title>API Tester</title>
</head>
<body>
  <h1>Welcome to API Tester</h1>
  <ul>
    <li><a href="/add-endpoint">Add Endpoint</a></li>
    <li><a href="/results">View Test Results</a></li>
  </ul>
</body>
</html>
