.container {
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 13vh;
}

#links {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

#links2 {
  padding-top: 15px;
  padding-left: 20px;
}
#but {
  padding-top: 0;
  padding-bottom: 0;
}

.square {
  width: 30%;
  background: yellow;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 8%;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

.jumbotron {
  text-align: center;
}
/* 
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
} */
