<%- include ('../partials/header') %>

<main class="container-rgp">
  <section class="card-rgp">
    <img src="/image/Readmergp.jpg" alt="" />
    <div class="div-rgp">
      <h1>RGP color games</h1>
      <a href="/games/rgp" class="btn-rgp">Play</a>
    </div>
  </section>

  <section class="card-rgp">
    <img src="/image/snake-game-free-full-version.jpg" alt="" />
    <div class="div-rgp">
      <h1>Snake</h1>
      <a href="#" class="btn-rgp">Play</a>
    </div>
  </section>
</main>

<%- include ('../partials/footer') %>
