<%- include ('../partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>GALLERY</h2>
    </div>

    <div class="jumbotron">

    </div>

    <div class="jumbotron">
        <div class="card-deck">

        <div class="card">
            <a href="/gallery/images" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="github"><path d="<%= svgs.github %>"></path></svg>
            List Images
            </a>
        </div>
        
        <div class="card">
            <a href="#" class="btn btn-light">
            </a>
        </div>
        
        <div class="card">
            <a href="#" class="btn btn-light">
            </a>
        </div>
        
        <div class="card">
            <a href="#" class="btn btn-light">
            </a>
        </div>
        
        </div>
  </div>


    



<%- include ('../partials/footer') %>

