<%- include ('partials/header') %>

    <div class="jumbotron">
        <h1>AAMS</h1>
        <h2>External</h2>
    </div>



    <div class="jumbotron"> 
      <div class="card-deck">
        <div class="card"> <a target="_blank" href="https://beta.infinitychess.com/" class="btn btn-light"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> Beta Infinitychess </a> </div> 
        <div class="card"> <a target="_blank" href="https://alpha.infinitychess.com/" class="btn btn-light"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> Alpha Infinitychess </a> </div> 
        <div class="card"> <a target="_blank" href="https://backend.infinitychess.com/" class="btn btn-light"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> Backend Infinitychess </a> </div> 
      </div>
    </div>
    
    
    <div class="jumbotron"> 
      <div class="card-deck">
        <div class="card"> <a target="_blank" href="http://cs2-platform-backend-svc-nlb-68fe18baccba8e90.elb.me-central-1.amazonaws.com/" class="btn btn-dark"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> NLB Backend </a> </div> 
        <div class="card"> <a target="_blank" href="http://internal-cs2-platform-frontend-svc-alb-201962685.me-central-1.elb.amazonaws.com" class="btn btn-dark"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> NLB Frontend </a> </div> 
        <div class="card"> <a target="_blank" href="http://cs2-platform-engine-svc-nlb-de2bf748ffbdbc4e.elb.me-central-1.amazonaws.com" class="btn btn-dark"> <img src="/img/nlb.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> NLB CS2 Engine </a> </div> 
      </div>
    </div>
    
    
    <div class="jumbotron"> 
      <div class="card-deck">
        <div class="card"> <a target="_blank" href="http://localhost:3001" class="btn btn-success"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> BE </a> </div> 
        <div class="card"> <a target="_blank" href="http://localhost:3000" class="btn btn-danger"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> FE </a> </div> 
        <div class="card"> <a target="_blank" href="http://localhost:8080" class="btn btn-success"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> Engine </a> </div>
        <div class="card"> <a target="_blank" href="http://10.172.219.171:3000" class="btn btn-danger"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> Jamsh </a> </div>
        <div class="card"> <a target="_blank" href="http://localhost:3002" class="btn btn-success"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> 3002 </a> </div>
        <div class="card"> <a target="_blank" href="http://localhost:3002" class="btn btn-danger"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> 3003 </a> </div>
        <div class="card"> <a target="_blank" href="http://localhost:3002" class="btn btn-success"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> 3004 </a> </div>
        <div class="card"> <a target="_blank" href="http://localhost:3002" class="btn btn-danger"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> 3005  </a> </div>
        <div class="card"> <a target="_blank" href="http://localhost:80" class="btn btn-success"> <img src="/img/local.png" class="card-img-top" alt="" style="height: 50px; width: 50px;"> 80 </a> </div>
      </div>
    </div>





    
    
    <div class="jumbotron"> 
      <div class="card-deck">
        <div class="card"><a target="_blank" href="https://b-9ebccbc8-c1da-4145-85e2-c9380ee874cf.mq.eu-west-1.amazonaws.com/" class="btn btn-light"><img src="/img/rabbit.jpeg" class="card-img-top" alt="" style="height: 150px; width: auto;"> Rabbit </a></div>
        <div class="card"><a target="_blank" href="https://one.newrelic.com/dashboards/detail/NDEwMDYyOXxWSVp8REFTSEJPQVJEfGRhOjQzNDAzMDA?account=4100629&state=fa81e268-13ce-d04a-1614-774f5aa0cefe" class="btn btn-light"><img src="/img/relic.png" class="card-img-top" alt="" style="height: 150px; width: auto;"> New Relic </a></div>
      </div>
    </div>






    <div class="jumbotron"> 
      <div class="card-deck">
        <div class="card"><a target="_blank" href="https://myhrismax.myadrenalin.com/azureauth/" class="btn btn-light"><img src="/img/max.png" class="card-img-top" alt="" style="height: 150px; width: 150px;"> Max </a></div>
        <div class="card"><a target="_blank" href="" class="btn btn-light"><img src=".png" class="card-img-top" alt="" style="height: 150px; width: 150px;"> AWS Support </a></div>
      </div>
    </div>




    
    <div class="jumbotron">
      <a href="https://chat.openai.com/" target="_blank" class="btn btn-primary">GPT</a>
      <a href="https://www.dailychess.com/chess/chess-fen-viewer.php" target="_blank" class="btn btn-primary">FEN Viewer</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
    </div>
    




    <div class="jumbotron">
      <a href="http://localhost:3000/" target="_blank" class="btn btn-info">LH:3000</a>
      <a href="http://localhost:3001/" target="_blank" class="btn btn-info">LH:3001</a>
      <a href="http://localhost:3002/" target="_blank" class="btn btn-info">LH:3002</a>
      <a href="http://localhost:3003/" target="_blank" class="btn btn-info">LH:3003</a>
      <a href="http://localhost:3004/" target="_blank" class="btn btn-info">LH:3004</a>
      <a href="http://localhost:3005/" target="_blank" class="btn btn-info">LH:3005</a>
      <a href="http://localhost:8080/" target="_blank" class="btn btn-info">LH:8080</a>
      <a href="http://localhost:80/" target="_blank" class="btn btn-info">LH:80</a>
      <a href="http://10.172.219.171:3000/" target="_blank" class="btn btn-primary">Jamsh</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
      <a href="" target="_blank" class="btn btn-primary">XYZ</a>
    </div>




<%- include ('partials/footer') %>

