<%- include ('partials/header') %>

    <div id="links">
        <h1> Quick Access links</h1>
    </div>



    <div id="links2">
        <a target="_blank" href="https://gitlab.com/dashboard/activity" class="btn btn-lg btn-success">Gitlap</a>
        <a target="_blank" href="https://gitlab.com/soundhound/terrier-arabic/activity" class="btn btn-sm btn-success">Activity-ar</a>
        <a target="_blank" href="https://gitlab.com/soundhound/terrier-dutch/activity" class="btn btn-sm btn-success">Activity-du</a>
        <a target="_blank" href="https://gitlab.com/soundhound/uploaded-terrier/activity" class="btn btn-sm btn-success">Activity-up</a>
        <a target="_blank" href="https://gitlab.com/soundhound/psa-speech2020/activity" class="btn btn-sm btn-success">Activity-psa</a>
        <a target="_blank" href="https://gitlab.com/sh-poi-conditioning/num2terrier/activity" class="btn btn-sm btn-success">Activity-n2t</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://github.com/" class="btn btn-lg btn-info">Github</a>
        <a target="_blank" href="https://github.com/ahmedamsoliman-1?tab=repositories" class="btn btn-sm btn-info">Github-repos</a>
        <a target="_blank" href="https://github.com/ahmedamsoliman-1/ahmedamsoliman-1" class="btn btn-sm btn-info">Github-aams-1</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://mail.google.com/mail/u/1/#inbox" class="btn btn-lg btn-danger">Gmail</a>
        <a target="_blank" href="https://outlook.live.com/mail/0/inbox" class="btn btn-lg btn-danger">Hotmil</a>
        <a target="_blank" href="https://outlook.office365.com/mail/inbox/id/AAQkADk2MGRkZTkxLWFjMzYtNDczZC1hMTk2LWI1MzMyYTM5M2NmNgAQABJyz6LJlHtKrbgvRBOc2Ms%3D" class="btn btn-lg btn-danger">HCL</a>
        <a target="_blank" href="https://server.click-grafix.com:2096/cpsess7930075840/3rdparty/roundcube/?_task=mail&_mbox=INBOX" class="btn btn-lg btn-danger">OAU</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://jira.soundhound.com:8443/secure/RapidBoard.jspa?rapidView=360" class="btn btn-lg btn-warning">Jira</a>
        <a target="_blank" href="https://www.houndify.com/dashboard/detail/83bc77bf-7fce-419a-a9e9-9474f4fc4236/tryapi" class="btn btn-lg btn-warning">Houndify API</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://teams.microsoft.com/" class="btn btn-lg btn-primary" >Team</a>
        <a target="_blank" href="https://www.linkedin.com/feed/" class="btn btn-lg btn-primary" >Linkedin</a>
        <a target="_blank" href="https://www.facebook.com" class="btn btn-lg btn-primary" >Facbook</a>
        <a target="_blank" href="https://www.facebook.com/messages" class="btn btn-lg btn-primary" >Messanger</a>
        <a target="_blank" href="https://web.whatsapp.com/" class="btn btn-lg btn-primary" >WhatsApp</a>
        <a target="_blank" href="https://app.slack.com/client/TBVHWSFEX/G01LAJ3H6AH" class="btn btn-lg btn-primary" >Slack</a>
        <a target="_blank" href="https://discord.com/channels/@me" class="btn btn-lg btn-primary" >Discord</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://www.google.com/" class="btn btn-lg btn-danger">Google</a>
        <a target="_blank" href="https://www.youtube.com/" class="btn btn-lg btn-danger">Youtube</a>
    </div>

    <div id="links2">
        <a target="_blank" href="https://onedrive.live.com" class="btn btn-lg btn-info">Onedrive</a>
    </div>


<%- include ('partials/footer') %>