<%- include ('partials/header') %>

<div class="container">
  <h1>Login</h1>

  <form action="/login" method="POST">
    <div class="form-group">
      <input type="text" name="username" placeholder="username" />
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="password" />
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Login" />
    </div>
  </form>
</div>

<%- include ('partials/footer') %>
