<%- include ('../partials/header') %>
        <link rel="stylesheet" href="stylesheets/weather.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
        <div class="main-content">
            <h1>Weather Application</h1>
            <article class="widget">
                <form class="weatherLocation"><input placeholder="location..." type = "text"/><button>Seach</button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <!-- <script src="js/app.js"></script> absolute path -->
        <script>

var fetchWeather = "/weather/app";
const weatherForm = document.querySelector("form");
const search = document.querySelector("input");

const weatherIcon = document.querySelector(".weatherIcon i");
const weatherCondition = document.querySelector(".weatherCondition");
const tempElement = document.querySelector(".temperature span");
const locationElement = document.querySelector(".place");
const dateElement = document.querySelector(".date");

const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

dateElement.textContent = new Date().getDate() + ", " + monthNames[new Date().getMonth()].substring(0, 3);

weatherForm.addEventListener("submit", (event) => 
{
    event.preventDefault();
    locationElement.textContent = "Loading ...";
    tempElement.textContent = "";
    weatherCondition.textContent = "";

    const locationApi = fetchWeather + "?address=" + search.value;
    fetch(locationApi).then(response => 
    {
        response.json().then(data =>
        {
            if (data.error)
            {
                locationElement.textContent = data.error;
                tempElement.textContent = "";
                weatherCondition.textContent = "";
            }
            else
            {
                if(data.description === "rain" || data.description === "fog")
                {
                    weatherIcon.className = "wi wi-day-" + data.description;
                }
                else
                {
                    weatherIcon.className = "wi wi-day-cloudy";
                }
                locationElement.textContent = data.cityName;
                tempElement.textContent = (data.temperature - 273.5).toFixed(2) + String.fromCharCode(176);
                weatherCondition.textContent = data.description.toUpperCase();
            }
        });
    });
});
        </script> <!-- absolute path -->

<!-- <%- include ('../partials/footer') %> -->

