

<%- include('partials/header') %>

<div class="jumbotron">
    <h1>AAMS Cloud</h1>
</div>


<div class="jumbotron">
    <div class="card-deck">
        <div class="card text-center" style="min-height: 300px;">
            <div class="btn btn-light">
                <img src="/img/vercel.png" alt="Vercel Image" class="card-img-top" style="max-width:100%; height:auto;">
                <div>
                    <a href="/vercel" class="btn btn-success mt-3">On Vercel</a>
                </div>
            </div>
        </div>
        <div class="card text-center" style="min-height: 300px;">
            <div class="btn btn-light">
                <img src="/img/render.png" alt="Render Image" class="card-img-top" style="max-width:100%; height:auto;">
                <div>
                    <a href="/render" class="btn btn-success mt-3">On Render</a>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="jumbotron">
    <a href="#" class="btn btn-danger"><%= node %></a>
</div>

<%- include('partials/footer') %>



