
<%- include ('../partials/header') %>

      <div class="jumbotron">
        <h1>Welcome To Dog Pictures Generator</h1>
        <div>
          <button id="btn" class="btn btn-lg btn-danger">Get Random Stupid Dog!</button>
        </div>
       <img id="display" src="https://images.dog.ceo/breeds/terrier-cairn/n02096177_3203.jpg" alt="">
      
      </div>

      
    
    
    

  <script>

var btn = document.querySelector("#btn");
var img = document.querySelector("#display");

// Listedn for clicks
btn.addEventListener("click", function()
{
    // Make request
    var XHR = new XMLHttpRequest();

    XHR.onreadystatechange = function()
    {
        if (XHR.readyState == 4 && XHR.status == 200)
        {
            var url = JSON.parse(XHR.responseText).message;
            
            img.src = url;
        }
    }

    XHR.open("GET", "https://dog.ceo/api/breeds/image/random");
    XHR.send();
});
  </script>
</body>
</html>
