<%- include ('../partials/header') %>

    <h1>Harry Potter API</h1>
    <link href="../../stylesheets/harry.css" rel="stylesheet">
</head>
<body>

    <div>
        <a href="/apps/harrypotter/characters" class="btn btn-lg btn-success">All charcter JSON</a>
        <a href="/apps/harrypotter/names" class="btn btn-lg btn-success">All charcter Names</a>
    </div>
    

</body>
</html>